@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: lightgray url('../imagem/Zeus.jpg') no-repeat left center fixed;
    background-size: 100% 100%;
}



#perfil {
    width: 100px;
    border: 5px dashed black;
    margin: auto;
    margin-top: -50px;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header {
    border: 5px solid rgb(0, 0, 0);
    width: 80px;
}

nav {
    margin-left: 10px;
    margin-top: 10px;
}

nav a {
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.295));
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    color: rgb(195, 195, 195);
    padding-top: 6px;
    border-radius: 5px;
    transition-duration: 0.5;
}

main {
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    border: 5px solid black;
    margin-top: 10px;
}