@charset "UTF-8";


div#cabeçalho {
    width: 100px;
    margin: auto;
    margin-bottom: -55px;
    color: rgb(219, 219, 219);
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
    text-shadow: 0px 0px 2px black;
}



div#banner {
    border: none;
    height: 130px;
    border-radius: 5px;
    margin: auto;
    margin-top: -105px;
    background: url('../imagem/YT-Full-m.jpg') left top no-repeat;
    background-size: cover;
}



header {
    width: 85px;
    height: 85px;
    border: none;
}

header>a>img {
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
}

header>a>img:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.351);
    width: 80px;
    height: 80px;
    margin-left: 5px;
    transition-duration: 1s;
}

nav {
    background-image: linear-gradient(180deg, black, transparent);
    border: none;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 5px;
    padding: 5px 5px 0px 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border-bottom: 2px solid black;
}

nav a:hover {
    color: rgb(200, 200, 200);
    background-image: linear-gradient(180deg, black, transparent);
    border-radius: 5px;
    transition-duration: 1s;
}

main {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.464);
}

article {
    border: none;
}

article img {
    margin: auto;
    width: 100%;
    border-radius: 5px;
    border: none;
}

article> h1 {
    text-align: center;
    color: white;
}

article p {
    text-align: justify;
}

aside {
    max-width: 600px;
    min-width: 320px;
    margin: auto;
    margin-top: 10px;
    border: none;
}

aside>h2 {
    text-align: center;
}

aside a {
    color: white;
    text-decoration: none;
}

aside li {
    margin-top: 5px;
}

aside>ul {
    list-style: circle inside;
    background-color: rgba(0, 0, 0, 0.359);
    border-radius: 5px;
}

aside span:hover {
    background-color: aqua;
    color: rgb(19, 17, 124);
    transition-duration: 1s;
    border-radius: 5px;
}

div>h2 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(143, 143, 143);
    border: none;
    padding: 5px;
    margin-top: 10px;
}

footer>p {
    color: rgb(0, 0, 0);
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}