@charset "UTF-8";


div#banner {
    border: none;
    height: 130px;
    margin: auto;
    margin-top: -105px;
    background: url('../imagem/YT-Full-m.jpg') left top no-repeat;
    background-size: 100% 100%;
}


header {
    width: 85px;
    height: 85px;
    border: none;
}

header>a>img {
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
    transition: 1s;
}

header>a>img:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.351);
    width: 80px;
    height: 80px;
    margin-left: 5px;
    transition-duration: 1s;
}

span#burguer {
    display: inline-block;
    margin-top: 5px;
    background-image: linear-gradient(180deg, rgb(1, 1, 94), rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0));
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

span#burguer:hover {
    background-image: linear-gradient(180deg, rgb(132, 132, 212), rgba(0, 0, 0, 0.445), rgba(95, 91, 91, 0.41));
    text-shadow: 0px 0px 2px white;
    cursor: pointer;
}

nav {
    border-radius: 5px;
    border: none;
    padding: 10px;
    display: none;
    background-color: rgba(211, 211, 211, 0.496);
    width: 300px;
    height: 90px;
}

nav>ul {
    list-style: none;
    margin-left: -48px;
    margin-top: -10px;
}

nav>ul>li {
    margin-top: 10px;
}

nav>ul>li>a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 5px;
    padding: 5px 5px 0px 5px;
    color: white;
    background-image: linear-gradient(180deg, rgb(1, 1, 94), rgba(0, 0, 0, 0.511));
    text-decoration: none;
    border-radius: 5px;
}

nav>ul>li>a:hover {
    background-image: linear-gradient(180deg, black, transparent);
    border-radius: 5px;
    transition-duration: 1s;
}

main {
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.682);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.464);
}

article {
    padding: 10px;
    border: none;
}

article img {
    margin: auto;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

article> h1 {
    text-align: center;
    color: white;
}

article p {
    text-align: justify;
}

aside {
    max-width: 600px;
    min-width: 320px;
    margin: auto;
    margin-top: 10px;
    border: none;
}

aside>h2 {
    text-align: center;
}

aside a {
    color: white;
    text-decoration: none;
}

aside li {
    margin-top: 5px;
}

aside>ul {
    list-style: circle inside;
    background-color: rgba(0, 0, 0, 0.359);
    border-radius: 5px;
}

aside span:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    transition-duration: 1s;
    border-radius: 5px;
}

div>h2 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(143, 143, 143);
    border: none;
    padding: 5px;
    margin-top: 10px;
}

footer>p {
    color: rgb(0, 0, 0);
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}