@charset "UTF-8";

@media screen and (min-width: 768px) {

    div#banner {
        width: 100%;
    }

    span#burguer {
        display: none;
    }

    nav {
        margin-bottom: -15px;
        display: block;
        width: 250px;
        height: 10px;
    }

    nav>ul>li {
        display: inline-block;
    }

    main {
        min-width: 320px;
        max-width: 800px;
        margin: auto;
        padding: 10px;
        margin-top: 20px;
    }

    main img {
        width: 100%;
    }

    article {
        padding: 10px;
    }
    
}